<div class="container">
<div class="header">
  <h1 class="title" >Password Generator</h1>
</div>
<div class="field">
  <label class="label">Length</label>
  <input type="number" class="input" value="" (input)="onInputLength($any($event.target).value)" />
</div>
<div class="field">
  <label class="checkbox" for="letters"> Use Letters
    <input class="checkbox"
      (change)="onChangeUseLetters()"
      type="checkbox" />
  </label>
</div>
<div class="field">
  <label class="checkbox"> Use Numbers
    <input (change)="onChangeUseNumbers()" type="checkbox" />
  </label>
</div>
<div class="field">
  <label class="checkbox" for="symbols"> Use Symbols
    <input class="checkbox"
    (change)="onChangeUseSymbols()"
    type="checkbox" />
  </label>
</div>

<div class="field">
  <label class="checkbox" for="symbols"> Save to Clipboard
    <input class="checkbox"
    (change)="onChangeSaveToClipboard()"
    type="checkbox" />
  </label>
</div>

<div class="field">
<button class="button is-link is-light"
  [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols)) " 
  (click)="onButtonClick()">Generate</button>
</div>
<div class="box" *ngIf="password">
  <p *ngIf="saveToClipboard">saved password to clipboard</p>
  <label class="label">Your Password</label>
  <input readonly class="input" [value]="password" />
</div>
</div>